@import url(http://fonts.googleapis.com/css?family=Kaushan+Script);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300&subset=latin,cyrillic);

body {
    color: rgba(84, 64, 63,1);
    font-family: 'Open Sans', sans-serif;  
}

.section {
   font-family: 'Open Sans', sans-serif;  
}

video#bgvid {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

hr {
    width: 980px !important;
}

hr.hr-red {
 border-bottom: 1px solid rgba(84, 64, 63,1);
}

* { outline: none; }
input:focus {
    outline: none;
}

h1 {
    font-size: 4rem;
    font-family: 'Kaushan Script', cursive;
    color: white;
  
}

.main-heading p {
    font-size: 1.5rem;
    color: white;
    margin: 0;
}

.two-slide {
   font-family: 'Open Sans', sans-serif;   
}

.two-slide.whiter h1 {
    color: white;
}

.two-slide.tarif-slide h1 {
    color: #f05543;
}

.two-slide h1 {
   font-size: 2.5rem;
   font-family: 'Open Sans', sans-serif;
    font-weight: 100;
    text-shadow: none;
    color: #f05543;
}

.main-form.else-form .main-heading__try-now {
    color: #f05543;
}

.main-form.else-form {
    text-align: center;
}

.main-form.else-form input {
    border: 2px solid #f05543;
}

.main-form.else-form .go-submit-else {
    background: #f05543;
    color: white;
}

.main-form.else-form input:focus {
    color: #f05543;
    font-size: 18px;
    border: 2px solid #f05543;
    box-shadow: none;
    
}

.main-heading__try-now {
    border: none;
    background: none;
    color: white;
    padding: .7em 6em;
    padding-left: 20px;
    border-right: 0;
    font-size: 1.2rem;
    -webkit-transition: all .3s;
    transition: all .3s;
}

.main-heading__try-now.go-submit {
      background-color: rgba(255,255,255,.3);
/*      border: none;*/
      padding: 0;
      width: 200px;
      height: 55px;
      float: right;
     margin-left: 10px;
     line-height: 55px;
     cursor: pointer;
}

.main-heading__try-now.go-submit:hover {
    background: white;
    color: #f05543;
}



.main-form.else-form input::-webkit-input-placeholder       {opacity: 1; -webkit-transition: opacity 0.3s ease; transition: opacity 0.3s ease;font-size: 18px;color:#f05543;}
.main-form.else-form input::-moz-placeholder                {opacity: 1; transition: opacity 0.3s ease;font-size: 18px;color:#f05543;}
.main-form.else-form input:-moz-placeholder                 {opacity: 1; transition: opacity 0.3s ease;font-size: 18px;color:#f05543;}
.main-form.else-form input:-ms-input-placeholder            {opacity: 1; transition: opacity 0.3s ease;font-size: 18px;color:#f05543;}
.main-form.else-form input:focus::-webkit-input-placeholder {opacity: 0; -webkit-transition: opacity 0.3s ease; transition: opacity 0.3s ease;font-size: 18px;color:#f05543;}
.main-form.else-form input:focus::-moz-placeholder          {opacity: 0; transition: opacity 0.3s ease;font-size: 18px;color:#f05543;}
.main-form.else-form input:focus:-moz-placeholder           {opacity: 0; transition: opacity 0.3s ease;font-size: 18px;color:#f05543;}
.main-form.else-form input:focus:-ms-input-placeholder      {opacity: 0; transition: opacity 0.3s ease;font-size: 18px;color:#f05543;}




.main-form input::-webkit-input-placeholder       {opacity: 1; -webkit-transition: opacity 0.3s ease; transition: opacity 0.3s ease;font-size: 18px;color:white;}
.main-form input::-moz-placeholder                {opacity: 1; transition: opacity 0.3s ease;font-size: 18px;color:white;}
.main-form input:-moz-placeholder                 {opacity: 1; transition: opacity 0.3s ease;font-size: 18px;color:white;}
.main-form input:-ms-input-placeholder            {opacity: 1; transition: opacity 0.3s ease;font-size: 18px;color:white;}
.main-form input:focus::-webkit-input-placeholder {opacity: 0; -webkit-transition: opacity 0.3s ease; transition: opacity 0.3s ease;font-size: 18px;color:white;}
.main-form input:focus::-moz-placeholder          {opacity: 0; transition: opacity 0.3s ease;font-size: 18px;color:white;}
.main-form input:focus:-moz-placeholder           {opacity: 0; transition: opacity 0.3s ease;font-size: 18px;color:white;}
.main-form input:focus:-ms-input-placeholder      {opacity: 0; transition: opacity 0.3s ease;font-size: 18px;color:white;}


.url-input input:focus::-webkit-input-placeholder { color:transparent; }
.url-input input:focus:-moz-placeholder { color:transparent; } /* FF 4-18 */
.url-input input:focus::-moz-placeholder { color:transparent; } /* FF 19+ */
.url-input input:focus:-ms-input-placeholder { color:transparent; } /* IE 10+ */


.main-start input:focus {
    color: white;
    font-size: 18px;
    border: 2px solid white;
    box-shadow: none;
    
}


.main-start {
    display: inline-block;
/*    border: 2px solid white;*/
    margin-top: 30px;
    margin-bottom: 30px;
}

.main-start input {
    height: 54px;
    border: 2px solid white;
    background: none;
    width: 300px;
    padding-left: 20px;
}

.main-go {
  border: none;
  background: none;
  color: white;
  font-size: 40px;
  vertical-align: middle;
}


.b-phone,
.b-contacts {
    width: 180px;
    height: 80px;
    display: block;
}

.b-phone + p,
.b-contacts + p {
    font-size: 16px;
}

.inner-icons {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    color: white;
    padding: 20px;
}

.b-per {
    font-size: 40px;
    margin: 0;
    color: white;
    text-align: center;
    font-weight: bold;
}


.my-icons-sprite, .my-icons-contacts, .my-icons-phone {
  background-image: url('../img/icons.png');
  background-repeat: no-repeat;
}


.my-icons-contacts {
  background-position: 0 0;
}

.my-icons-phone {
  background-position: 0 -80px;
}



/*
.my-icons-sprite, .my-icons-contacts, .my-icons-phone {
  background-image: url('img/icons.png');
  background-repeat: no-repeat;
}

.my-icons-contacts {
  background-position: 0 0;
}

.my-icons-phone {
  background-position: 0 -128px;
}
*/








.container {
    max-width: 980px;
    margin: auto;
}

.try__reg {
    color: white;
    background: tomato;
    padding: .7em 6em;
}

.try__reg:hover {
/*    border: 2px solid tomato;*/
    color: tomato;
}

.opt-list {
    padding-top: 20px;
}

.opt-list li {
    font-size: 1.2em;
    line-height: 2;
}

#section2 {
/*
    background: url('http://40.media.tumblr.com/b268fca62212e5e8e57cce47ac30dd78/tumblr_n1rr53o21A1tubinno1_1280.jpg');
    background-size: cover;
   
*/
}

/*
#section2:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.9);
    opacity: .7;
}
*/

#section0:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.5);

}



.waiting {
    color: white;
    position: relative;
    z-index: 1;
    text-align: left;
}

.waiting p {
    position: relative;
    padding-left: 40px;
}

.waiting p:first-line {
    color: tomato;
    font-weight: bold;
}

.waiting p:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 26px;
    height: 26px;
    background: url('img/mark.png') no-repeat;
}

.phone {
    position: relative;
    z-index: 1;
}

.waiting-module {
    padding-top: 35px;
}

#section1 {
    background: rgba(255,255,255,.95);
/*    background: rgba(84, 64, 63,.8);*/
}

#section2 {
   background: rgba(255,255,255,.8);
}
#section3 {
     background: rgba(255,255,255,.9);
/*  background: rgba(84, 64, 63,.6);*/
/*
  background: url('img/1.jpg');
    background-size: cover;
*/
  
}

/*
#section3:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.3);
    
}
*/

.fp-tableCell {
    position: relative;
}


#container a {
  font-size: 18px;
  font-family: 'Open Sans';
  color: white;
  text-decoration: none;
}

#container input:focus,
#container textarea:focus,
#container select:focus {
  border: 1px solid #fafafa;
  box-shadow: 0 0 5px #007eff;
  outline: none;
}

#container sup {
  font-size: 40px;
}

#container ul {
  list-style: none;
  font-size: 15px;
  font-family: 'Open Sans';
/*  color: #9095aa;*/
  padding: 0px;
  margin: 0px;
}

#container li {
  border-bottom: 1px solid #494a5a;
  padding: 0px;
  margin: 0px;
  text-align: center;
  height: 52px;
  line-height: 52px;
}

#container {
  width: 100%;
  text-align: center;
  margin-bottom: 50px;
}

#container .content {
    min-height: 207px;
}

#container .whole {
  display: inline-block;
}

#container .type {
  width: 300px;
/*  border-radius: 5px 5px 0px 0px;*/
  background-color: #eac80d;
  height: 82px;
  border-bottom: 3px solid #bfa30c;
  text-align: left;
  padding-left: 74px;    
}

#container .type p {
  font-family: 'Open Sans';
  font-weight: 800;
  font-size: 18px;
/*  text-transform: uppercase;*/
  color: white;
  text-align: left;
  padding-top: 10px;
/*  background: tomato; */
  display: inline-block;
  margin: 0;
  padding: 0;
  letter-spacing: .5px;
}

#container .type p:first-child {
    margin-top: 10px;
}

#container .type p > span { 
  font-size: 12px;
  text-decoration: line-through;
  padding-right: 10px;
}

#container .plan {
  width: 300px;
  background-color: #2b2937;
/*  border-radius: 0px 0px 5px 5px;*/
  font-family: 'Open Sans';
  font-style: condensed;
  font-size: 90px;
  color: white;
  text-align: center;
}

#container .standard {
  background-color: #1abc9c;
  border-bottom: 3px solid #18937b;
}

#container .ultimate {
  background-color: #5d6a9a;
  border-bottom: 3px solid #474f6f;
}

#container .header {
  border-bottom: 1px solid #494a5a;
  padding-bottom: 39px;
}

#container .header span {
  font-size: 32px;
}

#container .month {
  font-size: 14px;
  color: #575757;
  padding: 0px;
  margin: -10px;
}

#container .price {
  height: 80px;
}

#container .cart {
  color: white;
  position: relative;
  top: 16px;
}

.all-accordion {
    margin-bottom: 30px;
}

.accordion {
/*  border: 1px solid tomato;*/
/*  margin-bottom: 1px;*/
    text-align: left;
}
.accordion h2 {
  color: rgba(84, 64, 63,1);  
  margin: 0;
  padding: 8px;
  font-weight: 400;
  font-size: 18px;
/*  background: white;*/
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  position: relative;
}



.accordion h2 .fa {
  float: right;
  font-size: 22px;
}
.accordion h2:hover, .accordion h2.active {
    background: rgba(255,255,255,.3);
    color: rgba(84, 64, 63,1);
}
.accordion .accContent {
  display: none;
  padding: 10px 0 5px 15px;
/*  background: rgba(255,255,255,.5);*/
    color: white;
}

.accordion .accContent p {
    border-left: 1px solid rgba(84, 64, 63,1);
    color: rgba(84, 64, 63,1);
    padding-left: 10px;
}

.accordion img {
  max-width: 100%;
}


#section4 {
    background: url('../img/2.jpg');
    background-size: cover;
}

#section4:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.5);
   
}


#section5 {
    background: url(../img/3.jpg);
    background-size: cover;
}

#section5:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255,255,255,.7);
}



.register {
    text-align: center;
    color: white;
}

.register input {
    min-width: 300px;
    padding: 10px;
    margin-bottom: 15px;
    font-size: 16px;
}


.btn-reg {
    margin-top: 20px;
    min-width: 300px;
    border: 1px solid white;
    padding: 10px;
    background: tomato;
    color: white;
    font-size: 18px;
    cursor: pointer;
    -webkit-transition: all .3s;
    transition: all .3s;
}

.btn-reg:hover {
    background: white;
    color: #263b40;
    border: 1px solid tomato;
}


.h-top {
    margin-top: 15%;
}



.input3::-webkit-input-placeholder       {line-height: 20px;  -webkit-transition: line-height 0.5s ease;  transition: line-height 0.5s ease;font-size: 16px;padding-top: 4px;}
.input3::-moz-placeholder                {line-height: 20px;  transition: line-height 0.5s ease;font-size: 16px;padding-top: 4px;}
.input3:-moz-placeholder                 {line-height: 20px;  transition: line-height 0.5s ease;font-size: 16px;padding-top: 4px;}
.input3:-ms-input-placeholder            {line-height: 20px;  transition: line-height 0.5s ease;font-size: 16px;padding-top: 4px;}
.input3:focus::-webkit-input-placeholder {line-height: 100px; -webkit-transition: line-height 0.5s ease; transition: line-height 0.5s ease;font-size: 16px;padding-top: 4px;}
.input3:focus::-moz-placeholder          {line-height: 100px; transition: line-height 0.5s ease;font-size: 16px;padding-top: 4px;}
.input3:focus:-moz-placeholder           {line-height: 100px; transition: line-height 0.5s ease;font-size: 16px;padding-top: 4px;}
.input3:focus:-ms-input-placeholder      {line-height: 100px; transition: line-height 0.5s ease;font-size: 16px;padding-top: 4px;}




/* end .squaredTwo */
/* .squaredThree */
.squaredThree {
  width: 20px;
  position: relative;
/*  margin: 20px auto;*/
    float: left;
}
.squaredThree label {
  width: 20px;
  height: 20px;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  background: -webkit-linear-gradient(top, #222222 0%, #45484d 100%);
  background: linear-gradient(to bottom, #222222 0%, #45484d 100%);
  border-radius: 4px;
  box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.5), 0px 1px 0px rgba(255, 255, 255, 0.4);
}
.squaredThree label:after {
  content: '';
  width: 9px;
  height: 5px;
  position: absolute;
  top: 4px;
  left: 4px;
  border: 3px solid #fcfff4;
  border-top: none;
  border-right: none;
  background: transparent;
  opacity: 0;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.squaredThree label:hover::after {
  opacity: 0.3;
}
.squaredThree input[type=checkbox] {
  visibility: hidden;
}
.squaredThree input[type=checkbox]:checked + label:after {
  opacity: 1;
}


.apply {
    max-width: 247px;
    margin: auto;
/*    margin-top: 20px;*/
    font-size: 14px;
}

.apply span > a {
    position: relative;
    z-index: 1;
    text-decoration: underline;
}







.promoted-input-checkbox {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.promoted-checkbox input:checked + label > svg {
  height: 20px;
  -webkit-animation: draw-checkbox ease-in-out 0.2s forwards;
          animation: draw-checkbox ease-in-out 0.2s forwards;
}
.promoted-checkbox label:active::after {
  background-color: #e6e6e6;
}
.promoted-checkbox label {
  color: tomato;
  line-height: 40px;
  cursor: pointer;
  position: relative;
}
.promoted-checkbox label:after {
  content: "";
  height: 25px;
  width: 25px;
  margin-right: 1rem;
  float: left;
  border: 1px solid tomato;
  border-radius: 3px;
  position: relative;
  top: 8px;
  -webkit-transition: 0.15s all ease-out;
          transition: 0.15s all ease-out;
}

.promoted-checkbox label > a {
    color: tomato;
}

.promoted-checkbox svg {
  stroke: tomato;
  height: 0;
  width: 32px;
  position: absolute;
  left: -48px;
  top: 1px;
  stroke-dasharray: 33;
}

@-webkit-keyframes draw-checkbox {
  0% {
    stroke-dashoffset: 33;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes draw-checkbox {
  0% {
    stroke-dashoffset: 33;
  }
  100% {
    stroke-dashoffset: 0;
  }
}


.clients {
    padding-top: 50px;
}


address {
    margin-top: 30px;
    font-size: 12px;
}












.menu li {
	display:inline-block;
	margin: 10px;
    margin-top: 5px;
	color: #000;
	background:#fff;
	background: rgba(255,255,255, 0.5);
	
}
.menu li.active{
	background:#666;
	background: rgba(0,0,0, 0.5);
	color: tomato;
}
.menu li a{
	text-decoration:none;
	color: white;
}
.navbar-pills a:hover{
	color: white !important;
}
.menu li:hover{
	background: rgba(255,255,255, 0.8);
}
.menu li a,
.menu li.active a{
	padding: 9px 18px;
	display:block;
    padding-bottom: 0;
}
.menu li.active a {
	color: white;
    border-bottom: 2px solid;
}
.menu{
	position:fixed;
	top:0;
	left:0;
	height: 55px;
	z-index: 70;
	width: 100%;
	padding: 0;
	margin:0;
    background: rgba(0,0,0,.4);
}

.navbar-pills li.active a, .navbar-pills span {
    background: none;
}

#usedBy{
	padding: 50px 0 0 0;
}

.menu-inner {
    max-width: 1366px;
    margin: auto;
}
    
.navbar a:hover {
     text-decoration: none;
 }  

.menu li:last-child {
    float:right;
}

 .navbar-pills span,
.menu li.active,
.menu li,
.menu li:hover,
.navbar-pills a:hover {
    background: none;
}



/**************************************************\

PRICING

\**************************************************/

.pricing {
/*
  border-top: 2px solid rgba(0,0,0,.2);  
  border-bottom: 2px solid rgba(0,0,0,.2);  
*/
}

.pricing tr:first-child span {
    position: relative;
    font-size: 40px;
}
.pricing tr:first-child span:before {
    content: '';
    position: absolute;
    top: 12px;
    right: -38px;
    width: 31px;
    height: 35px;
    background: url('../img/ruble.png');
    background-size: cover;
}

.plus-add  {
    font-size: 25px;
    position: relative;
     background: url('../img/check66.png') no-repeat;
     width: 24px;
    height: 24px;
    display: block;
    margin: auto;
}

.pricing p {
    margin-bottom: 5px;
    font-weight: bold;
}

.endless {
    font-size: 50px;
    padding-right: 5px;
}


.pricing tr td.width-25 {
    background-color: rgba(255,255,255,.6);
    padding-top: 25px;
}

.pricing td {
    text-align: center;
    padding: .6em;
}

.pricing tr:first-child td {
    padding: 1.5em;
}
.pricing td {
    border-bottom: 0;
    background: rgba(255,255,255,.8);
}

.hover { background: rgba(84, 64, 63,.6); }

/**************************************************\

TABS

\**************************************************/

.tab {
  padding-top: 50px;
  margin-bottom: 20px;
  position: relative;
  overflow: hidden;
/*  background: #fff;*/
/*  width: 70%;*/
  margin: 0 auto;
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
  font-weight: 300;
  color: #888;
  -webkit-font-smoothing: antialiased;
}

.tabs {
  display: table;
  position: relative;
  overflow: hidden;
  margin: 0;
  width: 100%;
}

.tab_content p {
   margin-bottom: 5px; 
}

.tabs li {
  float: left;
  line-height: 38px;
  overflow: hidden;
  padding: 0;
  position: relative;
  width: 33.3333333333%;
  text-align: center;    
}
.tabs a {
/*  background-color: #eff0f2;*/
  border-bottom: 1px solid #fff;
  color:  rgba(84, 64, 63,1);
  font-weight: 500;
  display: block;
  letter-spacing: 0;
  outline: none;
  padding: 0 20px;
  text-decoration: none;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  border-bottom: 2px solid rgba(84, 64, 63,1);
}

.tabs_item {
  display: none;
  padding: 30px 0;
  padding-bottom: 0;    
}
.tabs_item h4 {
  font-weight: bold;
  color: #87d3b7;
  font-size: 20px;
}
.tabs_item img {
  width: 200px;
  float: left;
  margin-right: 30px;
}
.tabs_item:first-child {
  display: block;
}

.current a {
  color: #fff;
  background: rgba(84, 64, 63,1);
}

.tabs-inner {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.b-choose-show {
    color: rgba(84, 64, 63,1);
}


.iphone {
  background: #aaa;
  border-radius: 40px;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 100;
/*  height: 453px;*/
  height: 400px;
/*  margin: auto;*/
/*  width: 238px;*/
  width: 213px;
  padding: 59px 15px;
  position: relative;
}
.iphone:before {
  background: rgba(0,0,0,0.35);
  border-radius: 4px;
  content: " ";
  height: 8px;
  left: 50%;
  margin-left: -30px;
  position: absolute;
  top: 27px;
  width: 60px;
  z-index: 99;
}
.iphone:after {
  background: rgba(0,0,0,0.35);
  border: 4px solid rgba(255,255,255,0.6);
  border-radius: 50%;
  bottom: 4px;
  content: " ";
  height: 50px;
  left: 50%;
  margin-left: -29px;
  position: absolute;
  width: 50px;
  z-index: 99;
}
.screen {
  background: #fff;
  border-radius: 2px;
  height: 89%;
  overflow: auto;
/*  padding: 20px;*/
  position: relative;
  z-index: 1;
  top: 36px;
}
.screen:after {
  clear: both;
  content: " ";
  display: table;
}

.iphone .url-header {
  width: 86%;
  height: 39px;
  background: #f5f5f5;
  position: absolute;
  top: 57px;
  left: 15px;
}

.iphone .url-header .url-input {
  width: 178px;
  height: 31px;
  position: absolute;
  top: 4px;
  left: 4px;
  background: #ffffff;
  font-size: 14px;
  color: #666666;
  padding: 3px 0 3px 5px;
  overflow: hidden;
  white-space: nowrap;
}

.iphone label {
  position: absolute;
  top: 5px;
  left: 8px;
  font-weight: 200;
  font-size: 14px;
  color: #999999;
  z-index: 20;
}

.iphone input {
  width: 82%;
  height: 31px;
  position: absolute;
  top: 0;
  left: 0;
  background: #ffffff;
  font-size: 14px;
  color: #666666;
  padding: 4px 5px 3px 8px;
  overflow: hidden;
  white-space: nowrap;
  text-align: left;
  outline: none;
  border: 1px #ffffff solid;
  margin-bottom: 16px;
  font-family: "Open Sans", 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 200;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.iphone .url-header .url-bars {
    position: absolute;
  right: 10px;
  top: 10px;
  font-size: 18px;
  color: #797979;
}

.iphone .url-header .url-bars .url-submit {
    background: url(../img/reset-icon.png) no-repeat center;
  background-size: 100% auto;
  width: 21px;
  height: 21px;
/*  _border: 1px #ff0000 solid;*/
  cursor: pointer;
}

/*
.widget {
    background: url('/img/widget.png') no-repeat center;
    background-size: 100% auto;
    width: 45px;
    height: 45px;
    position: absolute;
    bottom: 10px;
    left: 50%;
    margin-left: -26px;
    -webkit-transition: all .3s;
    transition: all .3s;
}
*/

.b-colors {
    margin-bottom: 20px;
}

.b-colors span {
    display: inline-block;
    width: 40px;
    height: 40px;
/*    background: tomato;*/
    border: 1px solid;
    cursor: pointer;
    -webkit-transition: all .3s;
    transition: all .3s;
}

.b-colors span:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

.b-choose-show p {
    font-size: 18px;
    font-weight: 500;
}

.b-move-btn span {
    cursor: pointer;
    padding-right: 15px;
}

.c-black { background: black; }
.c-blue { background: #0bacd3; }
.c-tomato { background: #f85c3c; }
.c-green { background: #51bf87; }
.c-grey { background: #b2b2b2; }
.c-red { background: #ec0423; }
.c-yellow { background: #f4ad49; }

.go-right {
    left: 175px;
}

.go-left {
    left: 40px;
}

.enter h3 {
   font-family: 'Open Sans', sans-serif;
   font-weight: normal;
}

.close-modal {
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
}

.enter span {
    cursor: pointer;
    padding: 0;
}


.widget-descr {
/*    max-width: 350px;*/
    color: rgba(84, 64, 63,1);
}

.widget-descr h3 {
    color: rgba(84, 64, 63,1);
}

.sp {
  position: absolute;
  bottom: 20px;
  left: 50%;
  margin-left: -85px;
}

.sp p {
   font-size: 12px; 
/*    color: white;*/
    color: rgba(84, 64, 63,1);
}

.b-login {
    float: right;
}


.page-wrapper{
  width:100%;
  height:100%;
 
  background-size:cover;
}

.blur{
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
}


.modal-wrapper,
.modal-wrapper1 {
  width:100%;
  height:100%;
  position:fixed;
  top:0; left:0;
  background: rgba(0,0,0,.5);
  visibility:hidden;
  opacity:0;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

.modal-wrapper.open{
  opacity:1;
  visibility:visible;
}

.modal{
  width:600px;
/*  min-height:400px;*/
  height: auto;
  display:block;
  margin:50% 0 0 -300px;
  position:relative;
  top:50%; left:50%;
  background:#fff;
  opacity:0;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.modal-wrapper.open .modal{
  margin-top:-200px;
  opacity:1;
}

.head{
  width:100%;
  height:70px;
  padding:1.5em 5%;
  overflow:hidden;
  background: rgba(84, 64, 63,1);
}

.head h3 {
    text-align: center;
    margin: auto;
    color: white;
}

.btn-close{
  width:32px;
  height:32px;
  display:block;
  float:right;
  padding: 0 !important;
  position: absolute;
  right: 25px;
  top: 22px;  
}

.btn-close::before, .btn-close::after{
  content:'';
  width:32px;
  height:6px;
  display:block;
  background: white;
}

.btn-close::before{
  margin-top:12px;
  -webkit-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  transform:rotate(45deg);
}

.btn-close::after{
  margin-top:-6px;
  -webkit-transform:rotate(-45deg);
  -ms-transform:rotate(-45deg);
  transform:rotate(-45deg);
}

.content{
  padding:5%;
  text-align: center;
  color: rgba(84, 64, 63,1); 
}

.b-register {
    margin: 20px;
    margin-bottom: 0;
}

.b-register span {
    padding: 0;
    color: rgba(84, 64, 63,1);   
}

.content .on-reg {
   color: rgba(84, 64, 63,1);  
}

.b-register span:hover,
.on-reg:hover {
    text-decoration: underline;
    color: rgba(84, 64, 63,1); 
}

.all-register input:focus {
   border: 2px solid rgba(84, 64, 63,1);
    box-shadow: none;
}

.modal-wrapper input {
    min-width: 320px;
    height: 54px;
}

.modal-wrapper input:first-child {
    margin-bottom: 15px;
}

.b-register1 {
    display: none;
}

.all-register .z_recover {
     color: rgba(84, 64, 63,1);
}

.all-register .here-we-go {
    max-width: 320px;
    margin: auto;
    margin-bottom: 10px;
    padding: 8px;
    border: 2px solid rgba(84, 64, 63,1);
    color: rgba(84, 64, 63,1);
    -webkit-transition: all .3s;
    transition: all .3s;
    
}

.all-register .here-we-go:hover {
    text-decoration: none;
    background: rgba(84, 64, 63,1);
    color: white;
}

.all-register.iforget {
    display: none;
}




